{% extends 'conteudo.html' %}
{% load static %}
{% block content %}
<form class="form-comentario" method="post"  enctype="multipart/form-data">{% csrf_token %} 


    <div class="bloco1">

        <div class="item1">
            <label for="">Filme:</label>
                {{ Comentarios.filme }}
        </div>
        
        <div class="item1">
            <label for="">Usuário:</label>
                {{ Comentarios.usuario }}
        </div>

    </div>
            
        
        <div class="bloco2">

            <div class="item2">
                <label for="">Comentário:</label>
                    {{ Comentarios.comentario }}
            </div>

        </div>
       <input type="submit">
    
  
    

</form>


{% endblock %}